{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'boards/style.css' %}" />

<body style="background:#E5E4E2">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tracker</a>
    </div>
  <ul class="nav navbar-nav">
    <li><a href="{% url 'boards:index' %}">Boards</a></li>
  </ul>
   <ul class="nav navbar-nav">
    <li class="active"><a href="#">{{ board.board_name }}</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li><a href="{% url 'boards:board_edit' board.id %}"><span class="glyphicon glyphicon-pencil"></span></a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li><a href="{% url 'boards:board_remove' board.id %}"><span class="glyphicon glyphicon-remove"></span></a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="{%url 'boards:logout' %}">Log out</a></li>
  </ul>
  </div>
</nav>

<ul><h1>{{ board.board_name }}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</h1></ul>

{% for list in board.list_set.all %}
    <div class = "col-md-4">
    <h4><a href="{%url 'boards:list_content' board.id list.id %}">{{ list.list_name }}</a></h4>
    {% if list.task_set.all %}
        {% for task in list.task_set.all %}
           <div class="alert alert-success">
           <a href="{% url 'boards:task_content' board.id list.id task.id%}">{{ task.task_text }}</a>
           <div class ="date"><u> Due date:</u> <mark style="background-color:#F6D8CE">{{ task.deadline}}</mark></div>
           {% if task.comments.count %}
               Comments: {{ task.comments.count }}
            {% endif %}
            </div>
        {% endfor %}
        </div>
        </div>
    {% else %}
        <ul>This list is empty.</ul>
    {% endif %}
{% endfor %}
<div class="col-md-4">
<a href="{% url 'boards:list_new' board.id %}"><h4><u>Add a list</u></h4></a>
</div>
</body>
