<h1>{{ board.board_name }}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<a class="btn btn-default" href="{% url 'boards:board_edit' board.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
</h1>
<ul>
{% for list in board.list_set.all %}
    <li><a href="{%url 'boards:list_content' board.id list.id %}">{{ list.list_name }}</a></li>
{% endfor %}
<a href="{% url 'boards:list_new' board.id %}" button type="submit" class="save btn btn-default">Add a new list</a>
</ul>



