<h1>Boards
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</h1>
{% if boards %}
    <ul>
    {% for board in boards %}
        <li><a href="{% url 'boards:board_content' board.id %}">{{ board.board_name }}</a></li>
    {% endfor %}
    <a href="{% url 'boards:board_new' %}" button type="submit" class="save btn btn-default">Add a new board</a>
    </ul>
{% else %}
    <p>No boards are available.</p>
{% endif %}
