<body style="background:#E5E4E2">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tracker</a>
    </div>
  <ul class="nav navbar-nav">
    <li><a href="{% url 'boards:index' %}">Boards</a></li>
  </ul>
   <ul class="nav navbar-nav">
    <li><a href="{% url 'boards:board_content' board.id %}">{{ board.board_name }}</a></li>
  </ul>
   <ul class="nav navbar-nav">
    <li class="active"><a href="#">{{ list.list_name }}</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li><a href="{% url 'boards:list_edit' board.id list.id%}"><span class="glyphicon glyphicon-pencil"></span></a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li><a href="{% url 'boards:list_remove' board.id list.id%}"><span class="glyphicon glyphicon-remove"></span></a></li>
  </ul>
  </div>
</nav>


<ul><h1>{{ list.list_name }}</ul>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</h1>
<ul>
{% for task in list.task_set.all %}
    <li><a href="{%url 'boards:task_content' board.id list.id task.id %}">{{ task.task_text }}</a></li>
    <div class ="date"> Due date: {{ task.deadline}}</div>
{% endfor %}
<a href="{%url 'boards:task_new' board.id list.id %}" button type="submit" class="btn btn-success">Add a new task</a>
</ul>
</body>
