<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background:#E5E4E2">
<style>
.input-group-addon {
    min-width:190px;
    text-align:left;
}
</style>

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <h1>Registration</h1>
  <form role="form" class="form-horizontal" method="post" action="{% url 'boards:register' %}">{% csrf_token %}
    <form><ul>
  Username:<br> 
  <input type="text" name="username"><br>
  Password:<br> 
  <input type="password" name="password1"><br>
Confirm password:<br> 
  <input type="password" name="password2">
</form>
<ul><br><input type="submit" class="btn btn-success" value="Create an account"></ul>
</form>
</ul>
  </ul>
{% endblock %}
