<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background:#E5E4E2">
<style>
.input-group-addon {
    min-width:190px;
    text-align:left;
}
</style>

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <ul>
  <h1>Registration</h1>
  <form role="form" class="form-horizontal" method="post" action="{% url 'boards:register' %}">{% csrf_token %}
    <div class="form-group">
        {% for field in form %}
            <div class="input-group">
                <span class="input-group-addon" style="background-color:#D8F6CE;  color:black">{{field.label_tag}}</span><input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" value="{{ form.field.label_tag }}" type="text" /> 

                {{ field.errors }}
            </div>
        {% endfor %}
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
<ul><input type="submit" class="btn btn-success" value="Create an account"></ul>
</form>
</ul>
  </ul>
{% endblock %}
